.container{
    display: flex;
    height: 70%;
    width: 65%;
    align-items: center;
}

.image-section{
    flex: 1;
    height: 100%;
    margin: auto;
    display: flex;
}
.content-img{
    width: 100%;
    height: auto;
    display: block;
    align-items: center;
}
.content-text{
    height: 70%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content-text h1{
    text-align: center;
    font-size: 4rem;
    line-height: 5rem;
}

.content-text .description-box p{
    text-align: center;
    font-size: 1.5rem;
}

.button-box{
    display: flex;
    justify-content: center;
}
form{
    text-align: center;
}
button {
    min-width: 150px;
    border-radius: 20px;
    border: none;
    padding: 12px 36px;
    background: var(--gradient-color);
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, padding 0.3s ease, font-size 0.3s ease-in-out;
}

button:hover{
    transform: scale(1.1);
    font-size: 1.5rem;
    padding: 15px 40px;

}
