.container{
    width: 45%;
    height: 80%;
    display: flex;
    box-shadow: -5px -5px 10px #fff,
    5px 5px 10px #babebc;
    position: absolute;
    border-radius: 20px;
    overflow: hidden;
}

.side-container{
    flex: 1;
    background: var(--gradient-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-container .message{
    display: flex;
    flex: 1;
}

.side-container h1{
    height: 30%;
    align-self: flex-end;
    font-size: 3.5rem;
    line-height: 4rem;
    margin-bottom: 0;
}

.side-container form{
    flex: 1;
}

.input-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

.input-container h1{
    flex: 1;
    justify-self: flex-end;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-container h1 span{
    text-transform: uppercase;
    font-size: 4rem;
}

.input-container form{
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.input-container form label{
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.input-container form label input{
    padding: 12px;
    width: 90%;
    border: 0;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 7px 2px 10px #babebc,
    inset -5px -5px 12px #fff;
    font-size: 1.7rem;
}

select{
    width: 90%;
    border: 0;
    outline: none;
    border-radius: 20px;
    padding: 12px;
    font-size: 1.7rem;
    box-shadow: inset 7px 2px 10px #babebc,
                inset -5px -5px 12px #fff;
}

select:invalid{
    color: #757575;
}

button{
    transition: transform 0.3s ease, padding 0.3s ease,
                box-shadow 0.3s ease,font-size 0.3s ease-in-out;
}

button:hover{
    padding: 15px 40px;
    transform: scale(1.1);
}

.side-container .side-button{
    background: var(--background-color);
}

.side-container .side-button:hover{
    background: RGB(246 246 248);
    box-shadow: 5px 5px 8px #babebc;;
}
