.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    height: 10%;


}
.side-bar{
    width: 20%;
    height: 100%;
    position: fixed;
    top: 10%;
    left: 0;
}
.side-bar header{
    height: 70px;
    font-size: 2.8rem;
    color: #353535;
    line-height: 70px;
    text-align: center;
    user-select: none;
    font-family: 'Lato', sans-serif;
}
.side-bar a{
    display: block;
    height: 65px;
    font-size: 1.8rem;
    line-height: 6.5rem;
    padding-left: 20px;
    text-decoration: none;
}
.side-bar i{
    width: 20px;
    height: 30px;
    font-size: 2.3rem;
    margin-right: 16px;
}
.sidebar a span{
    letter-spacing: 1px;
    text-transform: uppercase;
}
.page-content{
    width: 80%;
    position: fixed;
    height: 90%;
    right: 0;
    bottom: 0;
}