<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link href="/css/base.css" rel="stylesheet">
    <link href="/css/homepage.css" rel="stylesheet">
</head>
<body>
<div class="fullscreen">
    <div class="container">
        <div class="image-section">
            <img alt="homepage image" class="content-img" src="/img/homepage.png">
        </div>
        <div class="content-text">
            <h1>WELCOME TO SCHOLARLY</h1>
            <div class="description-box">
                <p>Simplifies, automates the process of handling student information while streamlining administrative
                    tasks</p>
            </div>
            <div class="button-box">
                <form action="login" method="get">
                    <button>LOGIN</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>