<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/homepage.css">
</head>
<body>
<div class="fullscreen">
    <div class="container">
        <div class="image-section">
<!--            <img class="content-img" src="https://github.com/malunaridev/Landing-Pages-Are-Fun/blob/master/1-business-agency-concept/assets/image.png?raw=true" alt="homepage image">-->
            <img class="content-img" src="/img/homepage.png" alt="homepage image">
        </div>
        <div class="content-text">
            <h1>WELCOME TO SCHOLARLY</h1>
            <div class="description-box">
                <p>Simplifies, automates the process of handling student information while streamlining administrative tasks</p>
            </div>
            <div class="button-box">
                <form action="login" method="get"><button>LOGIN</button></form>
            </div>
        </div>

    </div>
</div>





</body>
</html>