<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/commonStructure.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/listUser.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="https://kit.fontawesome.com/c6b60a295c.js" crossorigin="anonymous"></script>
    <title>Title</title>

</head>
<body>
<div class="fullscreen">
    <div class="nav-bar">
        <div class="logo">
            <span>scholarly</span>
        </div>
    </div>
    <div class="side-bar">
        <div class="menu">
            <a href="/main">
                <i class="fa-solid fa-house-user"></i>
                <span th:text="Dashboard"></span>
            </a>
            <a href="/teacher/all" th:class="${role.toString()=='TEACHER'? 'active':'normal'}">
                <i class="fa-solid fa-chalkboard-user"></i>
                <span>Teachers</span>
            </a>
            <a href="/student/all" th:class="${role.toString()=='STUDENT'? 'active':'normal'}">
                <i class="fa-solid fa-users"></i>
                <span>Students</span>
            </a>
            <a href="/subject/all">
                <i class="fa-solid fa-school"></i>
                <span>Subjects</span>
            </a>
            <a href="">
                <i class="fa-solid fa-star"></i>
                <span>Marks</span>
            </a>
        </div>
    </div>
    <div class="page-content">
        <div class="title">
            <h1 th:text="'List of '+ ${role.toString().toLowerCase()}"></h1>
        </div>
        <div class="container">
                <div class="table-box">
                    <table th:if="${role.toString()=='STUDENT'}">
                        <thead>
                        <tr>
                            <th class="num">No.</th>
                            <th class="fullname">Full name</th>
                            <th class="id">StudentID</th>
                            <th class="dob">Date of birth</th>
                            <th class="action">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user: ${users}">
                            <td></td>
                            <td th:text="${user.fullname}"></td>
                            <td th:text="${user.studentNumber}"></td>
                            <td th:text="${user.dob}"></td>
                            <td  class="button-box">
                                <form action="#" method="get" th:action="@{/{userRole}/{id}(userRole=${user.userRole.toString().toLowerCase()},id=${user.id})}">
                                    <button class="button button_see" >DETAILS</button>
                                </form>
                                <form action="#" method="post" th:action="@{/{userRole}/{id}(userRole=${user.userRole.toString().toLowerCase()}, id=${user.id})}" th:if="${currentUser.userRole.toString()!='STUDENT' && currentUser.userRole!=role}">
                                    <input type="hidden" name="_method" value="delete">
                                    <button>DELETE</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table th:if="${role.toString()=='TEACHER'}">
                        <thead>
                        <tr>
                            <th class="num">No.</th>
                            <th class="fullname">Full name</th>
                            <th class="id">Teacher ID</th>
                            <th class="subject">Subject</th>
                            <th class="dob">Date of birth</th>
                            <th class="action">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user: ${users}">
                            <td></td>
                            <td th:text="${user.fullname}"></td>
                            <td th:text="${user.teacherNumber}"></td>
                            <td th:text="${user.subject.name}"></td>
                            <td th:text="${user.dob}"></td>
                            <td  class="button-box">
                                <form action="#" method="get" th:action="@{/{userRole}/{id}(userRole=${user.userRole.toString().toLowerCase()},id=${user.id})}">
                                    <button class="button button_see" >DETAILS</button>
                                </form>
                                <form action="#" method="post" th:action="@{/{userRole}/{id}(userRole=${user.userRole.toString().toLowerCase()}, id=${user.id})}" th:if="${currentUser.userRole.toString()!='STUDENT' && currentUser.userRole!=role}">
                                    <input type="hidden" name="_method" value="delete">
                                    <button>DELETE</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <form action="#" method="get" th:action="@{/{userRole}/form(userRole=${role.toString().toLowerCase()})}" th:if="${currentUser.userRole.toString()!='STUDENT' && currentUser.userRole!=role}">
                        <button class="button button_add">ADD</button>
                    </form>
                </div>
            </div>
        </div>
</div>
</body>
</html>