<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>Information of Student</h1>
    <input type="hidden" th:value="${user.id}">
    <div class="fields_container">
        <label>Full name: </label>
        <text th:text="${user.fullname}"></text>

        <label> Date of birth:</label>
        <text th:text="${user.dob}"></text>

        <label>Email:</label>
        <text th:text="${user.email}"></text>

        <label>Phone number:</label>
        <text th:text="${user.phonenumber}"></text>


    </div>
    <form action="#" method="get" th:action="@{/{userRole}/{id}/updateForm(userRole=${user.userRole.toString().toLowerCase()},id=${user.id})}"><button class="button button_update" >UPDATE</button></form>
    <form action="#" th:action="@{/{userRole}/all(userRole=${user.userRole.toString().toLowerCase()})}" method="get"><button>SEE ALL STUDENTS</button></form>
    <form action="#" method="post" th:action="@{/{userRole}/{id}(userRole=${user.userRole.toString().toLowerCase()}, id=${user.id})}">
        <input type="hidden" name="_method" value="delete">
        <button>DELETE</button>
    </form>



</div>
</body>
</html>
