<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="table">
    <h1>Personal Information</h1>
    <div class="box basic">
        <div class="holder">
            <label>Full name: </label>
            <input type="text" name="firstname" th:value="${user.fullname}" th:field="*{fullname}">
        </div>


        <div class="holder">
            <label> Gender:</label>
            <input type="text" name="gender" th:value="${user.gender}" th:field="*{gender}">
        </div>

        <div class="holder">
            <label> Date of birth:</label>
            <input type="text" name="dob" th:value="${user.dob}" th:field="*{dob}">
        </div>


        <div class="holder">
            <label>Email:</label>
            <input type="text" name="email" th:value="${user.email}" th:field="*{email}">
        </div>


        <div class="holder">
            <label>Phone number:</label>
            <input type="text" name="phoneNumber" th:value="${user.phoneNumber}" th:field="*{phoneNumber}">
        </div>


        <div class="holder">
            <label>Address:</label>
            <input type="text" name="address" th:value="${user.address}" th:field="*{address}">
        </div>



    </div>
    <div class="box specify for-teacher" th:if="${user.userRole.toString()=='TEACHER'}">
        <div class="holder">
            <label> Teacher ID:</label>
            <div><text th:text="${user.teacherNumber}"></text></div>
        </div>

        <div class="holder">
            <label>Nationality: </label>
            <div><text th:text="${user.nationality}"></text></div>
        </div>


        <div class="holder">
            <label>Subject:</label>
            <div><text th:if="${user.subject !=null}" th:text="${user.subject.name}"></text></div>
        </div>

        <div class="holder">
            <label>Graduated from: </label>
            <div><text th:text="${user.school}"></text></div>
        </div>

        <div class="holder">
            <label>Qualification: </label>
            <div><text th:text="${user.qualification}"></text></div>
        </div>

        <div class="holder">
            <label>Year of entry: </label>
            <div><text th:text="${user.entryYear}"></text></div>
        </div>




    </div>
    <div class="box specify for-student" th:if="${user.userRole.toString()=='STUDENT'}">
        <div class="holder">
            <label> Student ID:</label>
            <div><text th:text="${user.studentNumber}"></text></div>
        </div>

        <div class="holder">
            <label>Nationality: </label>
            <div><text th:text="${user.nationality}"></text></div>
        </div>

        <div class="holder">
            <label>Grade: </label>
            <div><text th:text="${user.grade}"></text></div>
        </div>

        <div class="holder">
            <label>Year of entry: </label>
            <div><text th:text="${user.entryYear}"></text></div>
        </div>

        <div class="holder">
            <label>Father's name: </label>
            <div><text th:text="${user.fatherName}"></text></div>
        </div>


        <div class="holder">
            <label>Mother's name: </label>
            <div><text th:text="${user.motherName}"></text></div>
        </div>

    </div>
</div>



</div>
</body>
</html>