<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/base.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="https://kit.fontawesome.com/c6b60a295c.js" crossorigin="anonymous"></script>
    <title>Title</title>
</head>
<body>
<h1>Change information form</h1>
<form action="#" method="post" th:action="@{/subject/{id}/update(id=${subject.id})}" th:object="${subject}">
    <input type="hidden" th:value="${subject.id}" th:field="*{id}">
    <div class="fields_container">
        <label>Subject code: </label>
        <input type="text" name="subjectCode" th:value="${subject.subjectCode}" th:field="*{subjectCode}">


        <label>Room:</label>
        <input type="text" name="room" th:value="${subject.room}" th:field="*{room}">

        <label>Credit points:</label>
        <input type="text" name="creditPoints" th:value="${subject.creditPoints}" th:field="*{creditPoints}">


    </div>
    <button>Submit</button>
</form>
</body>
</html>