<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/commonStructure.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/updateSubject.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="https://kit.fontawesome.com/c6b60a295c.js" crossorigin="anonymous"></script>
    <title>Title</title>
</head>
<body>
<div class="fullscreen">
    <div class="nav-bar">
        <div class="logo">
            <span>scholarly</span>
        </div>
    </div>
    <div class="side-bar">
        <div class="menu">
            <a href="/main">
                <i class="fa-solid fa-house-user"></i>
                <span th:text="Dashboard"></span>
            </a>
            <a href="/teacher/all">
                <i class="fa-solid fa-chalkboard-user"></i>
                <span>Teachers</span>
            </a>
            <a href="/student/all">
                <i class="fa-solid fa-users"></i>
                <span>Students</span>
            </a>
            <a href="/subject/all"  class="active">
                <i class="fa-solid fa-school"></i>
                <span>Subjects</span>
            </a>
            <a href="">
                <i class="fa-solid fa-star"></i>
                <span>Marks</span>
            </a>
        </div>

    </div>
    <div class="page-content">
        <h1>Change Subject Information</h1>
        <div class="content">
            <form action="#" method="post" th:action="@{/subject/{id}/update(id=${subject.id})}" th:object="${subject}">
                <input type="hidden" th:value="${subject.id}" th:field="*{id}">
                <input type="hidden" th:value="${subject.name}" th:field="*{name}">
                <div class="fields_container">
                    <h2 th:text="${subject.name}"></h2>
                    <div class="holder">
                        <label>Subject code: </label>
                        <input type="text" name="subjectCode" th:value="${subject.subjectCode}" th:field="*{subjectCode}">
                    </div>

                    <div class="holder">
                        <label>Room:</label>
                        <input type="text" name="room" th:value="${subject.room}" th:field="*{room}">
                    </div>

                    <div class="holder">
                        <label>Credit points:</label>
                        <input type="text" name="creditPoints" th:value="${subject.creditPoints}" th:field="*{creditPoints}">
                    </div>
                </div>
                <div class="button-box">
                    <button>Submit</button>
                </div>
            </form>
        </div>
    </div>

</div>

</body>
</html>