<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/user.css">
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/c6b60a295c.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="fullscreen">
      <div class="navbar"></div>
      <div class="side-bar">
        <header>Menu</header>
        <a href="">
          <i class="fa-solid fa-house-user"></i>
          <span>Admin Portal</span>
        </a>
        <a href="">
          <i class="fa-solid fa-chalkboard-user"></i>
          <span>Manage Teachers</span>
        </a>
        <a href="">
          <i class="fa-solid fa-chalkboard-user"></i>
          <span>Add Teachers</span>
        </a>
        <a href="">
          <i class="fa-solid fa-users"></i>
          <span>Manage Students</span>
        </a>
        <a href="">
          <i class="fa-solid fa-house-user"></i>
          <span>Add Students</span>
        </a>
        <a href="">
          <i class="fa-solid fa-school"></i>
          <span>Manage Classes</span>
        </a>
        <a href="">
          <i class="fa-solid fa-star"></i>
          <span>See Marks</span>
        </a>

      </div>
      <div class="page-content">
        <h1>Admin Portal</h1>
        <div class="message">
          <h2 th:text="'hi '+${user.userRole}+' '+ ${user.firstname} + ' ' + ${user.lastname}"></h2>

        </div>
        <div class="content-box">
          <div class="teacher-box">

          </div>
          <div class="student-box">

          </div>
          <div class="course-box">

          </div>
          <div class="score-box"></div>
        </div>
      </div>

    </div>



</body>
</html>